# SCA2LSTM模型配置参数
LSTM1_DERIVED_FEATS = [
    "ssi", "high_prec_running_days", "low_prec_running_days", "prec_7day_sum", "prec_30day_sum"
]
LSTM2_FEATURES = [
    "precipitation", "peti", "temperature", "discharge_vol",
    "area", "dpsbar", "elev_mean", "aridity", "p_seasonality",
    "tawc", "porosity_cosby", "baseflow_index", "dwood_perc", "ewood_perc",
    "grass_perc", "urban_perc", "inwater_perc", "benchmark_catch", "reservoir_cap"
]
SEED = 43                                           # 随机种子
TARGET_COL = "discharge_vol"                        # 预测目标变量
SEQ_LEN = 3                                         # 时间步长
PRED_LEN = 1                                        # 预测长度
BATCH_SIZE = 32                                     # 批量大小
N_EPOCHS = 5                                       # 最大训练轮数
PATIENCE = 10                                       # 延长早停耐心值
LR = 1e-3                                           # 学习率
LSTM_HIDDEN_DIM = 64                                # LSTM隐藏层单元
LSTM_LAYERS = 1                                     # LSTM块中隐藏层数量
DROPOUT = 0.3                                       # 增强正则化
EMBEDDING_DIM = 16                                  # 流域ID嵌入维度
N_FEATURES = len(LSTM2_FEATURES)                    # LSTM2的特征维度
LSTM1_INPUT_DIM = len(LSTM1_DERIVED_FEATS) + 1     # 4个时间特征（sin,cos编码）+ 5个衍生特征 + 19个特征缺失标记 + 1个LSTM2反馈残差
MODEL_SAVE_PATH = "./model_output/sca2lstm.pth"     # 模型保存路径
DATA_INPUT_DIR = "./model_input_data/"              # 模型输入数据路径
TRAIN_BASIN_IDS = [32006, 39025, 51001, 75003]                    # 训练流域
VAL_BASIN_IDS = [32006]                             # 验证流域
MIN_VALID_LABEL_RATIO = 0.3                         # 训练集流域必须包含30%以上有效标签
MIN_VALID_ROWS = 10000                              # 每个流域必须包含10000行有效数据